*{
    margin: 0;
    padding: 0;
}
header{
    color:#77a961;
    background-color: #2A3132;
    height: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #848482;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.game{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 40vmin;
    width: 100%;
}

img{
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
}
img:hover{
    border: 2px black solid;
    cursor: pointer;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 4vmin;
    font-weight: 600;
}
#user-score{
    font-size: 6vmin;
    text-align: center;
}
#comp-score{
    font-size: 6vmin;
    text-align: center;
}

.msg-container{
    text-align: center;
    width: 100%;
    margin: 60px 0 60px 0;
    font-size: 4vmin;
}
#msg{
    display: inline;
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: none;
}

.reset{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 100px;
    border:none ;
}

@media screen and (max-width : 450px){
    h1{
        font-size:1.5rem;
    }
    .game{
        gap:2rem;
    }
    #msg{
        padding: 10px 10px 10px 10px;
    }
    .reset{
        width:fit-content;
        height: fit-content;
        padding: 10px 10px 10px 10px;
        font-size: 3.5vmin;
    }
}